body {
   text-align: justify;
}
.jumbotron h1 {
    color:white;
    text-align:center;
    }
   footer{
            background-color: #FFAA7F;
            padding: 20px;
            text-align:center;
        }
  .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }  
        .jumbotron{
            background-color: #FFAA7F;
            padding: 10px;
        }
        #social{
            display:table;
            width:100%;
             background-color: #E1E1E1;
            padding: 5px 5px 5px 5px;
        }
        .social-icon{
            display:table-cell;
            width: 14.2857%;
        }
        .col-sm-8 {
            background-color: papayawhip;
        }
        .col-sm-4{
            background-color: mistyrose;
        }
        .row-2{
            background-color: black;
        }
        .form-inline{
            position: relative;
            left: 350px;
            width: 100%;
                
        }
        